<!DOCTYPE html>
<html ng-app='classroom'>
  <head>
    <meta charset="utf-8" />
    <title>Classroom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://ironsummitmedia.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>

      <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!--right slidebar-->
    <link href="styles/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="styles/style-bootstrap-theme.css" rel="stylesheet">
    <link href="styles/style-responsive.css" rel="stylesheet" />



  </head>
  <body style="position:relative;padding-top:80px" ng-class="{'login-background':checkStateRoute('login')}">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> <!-- Jquery Cookie CDN - Needed for Accordion plugin TODO: Replace with bower version -->
    <script src="lib/jquery-ui/jquery-ui.js"></script><!-- Tried adding for popover/dropdown -->
    <!-- For the expanding of side menu options -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="js/respond.min.js" ></script>

    <section id="container" >
      <!-- <div style="position:fixed;top:0;left:0;background-color:white;width:100%;">
          <button ng-controller='LogoutController' ng-click='logout()'>Log Out</button>
          <button ui-sref="syllabus">Syllabus</button>
          <button ui-sref="grades">Grades</button>
          <button ui-sref="attendance">Attendance</button>
          <h2>{{currentUser.name}}</h2>
      </div> -->

      <!--header start-->
      <header class="header white-bg" ng-show="currentUser">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo">Class<span>room</span></a>
            <!--logo end-->
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li> -->

                    <!-- user login dropdown start-->
                    <li class="dropdown" ng-class="{open: showProfile}">
                        <a class="dropdown-toggle" href="#" ng-click="showProfile=!showProfile">
                            <img alt="" src="https://500px.com/graphics/user/pseudo_user_avatar.png" width="29px" height="29px">
                            <span class="username">{{currentUser.name}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout" style="margin-top:-7px;">
                            <div class="log-arrow-up"></div>
                            <li><a href="#"><i class="fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                            <li ng-controller='LogoutController' ng-click='logout()'><a href="#"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>

                    <li class="sb-toggle-right">
                        <i class="fa  fa-align-right"></i>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
      <!--header end-->
      <!--sidebar start-->

      <aside ng-show="currentUser" ng-controller="MenuCtrl">
          <div id="sidebar" class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Classes</span>
                      </a>
                      <ul class="sub">
                        <li ng-repeat="class in classes">
                          <!-- <a href="#/syllabus/{{class.class_id}}">{{class.class_title}}</a> -->
                          <a ui-sref="syllabus({ class_id: class.class_id })">{{class.class_title}}</a>
                        </li>

                          <!-- <li><a  href="horizontal_menu.html">CS 134</a></li>
                          <li><a  href="header-color.html">Algebra</a></li>
                          <li><a  href="mega_menu.html">Economics</a></li> -->
                      </ul>
                  </li>

                    <li>
                        <a ui-sref="grades">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Grades</span>
                        </a>
                    </li>

                  <li>
                      <a ui-sref="attendance">
                          <i class="fa fa-group"></i>
                          <span>Attendance</span>
                      </a>
                  </li>

                    <li>
                        <a ui-sref="calendar">
                            <i class="fa fa-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>

                    <!-- <li>
                        {{classes}}
                        {{currentUser}}
                    </li> -->

                  <!--multi level menu start (leaving this for example)-->

                  <!-- <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-sitemap"></i>
                          <span>Multi level Menu</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="javascript:;">Menu Item 1</a></li>
                          <li class="sub-menu">
                              <a  href="boxed_page.html">Menu Item 2</a>
                              <ul class="sub">
                                  <li><a  href="javascript:;">Menu Item 2.1</a></li>
                                  <li class="sub-menu">
                                      <a  href="javascript:;">Menu Item 3</a>
                                      <ul class="sub">
                                          <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                          <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li> -->

                  <!--multi level menu end-->
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

      <!--sidebar end-->

      <section id="main-content">
        <section class="wrapper">

          <div ui-view></div> <!-- Load all sub-views within this -->

        </section>
      </section>

        <!-- Right Slidebar start -->
      <div class="sb-slidebar sb-right sb-style-overlay">

      </div>
      <!-- Right Slidebar end -->

    </section>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>

    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/dimple/dist/dimple.latest.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="app/app.js"></script>
    <script src="app/auth/login.js"></script>
    <script src="app/auth/signup.js"></script>
    <script src="app/attendance/attendance.js"></script>
    <script src="app/grades/grades.js"></script>
    <script src="app/services/attendance_service.js"></script>
    <script src="app/services/event_service.js"></script>
    <script src="app/services/grade_service.js"></script>
    <script src="app/services/assignment_service.js"></script>
    <script src="app/services/class_service.js"></script>
    <script src="app/services/lesson_service.js"></script>
    <script src="app/services/auth_factory.js"></script>
    <script src="app/syllabus/syllabus.js"></script>
    <script src="app/calendar/calendar.js"></script>
    <script>
        moment().format();
    </script>


    <!--right slidebar (For theme)-->
    <script src="js/slidebars.min.js"></script>

    <!--common script for all pages (for theme)-->
    <script src="js/common-scripts.js"></script>
  </body>
</html>
