.DS_Store
.AppleDouble
.LSOverride
iisnode.yml

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules/
db/
client/lib
bower_components/
out/

# Floobits
.floo
.floobit
.floo
.flooignore

# Config File
start.sh

# Temp files
npm-debug.log
tmp/*.mwb*
config.sh
