<h3 id="gradeTitle">Grades</h3>
<div class="classChoice">
  <select class="form-control input-lg" ng-model="selection" ng-change="clear(); makeChart(selection.class_id)"
  ng-options="class.class_title for class in classList track by class.class_id">
  </select>
</div>
<div class="grades"></div>

<!-- This div will only show if the user is a teacher -->
<!-- <div ng-show="isTeacher()">
  Add Grades:
    <form>
    <input type="text" ng-model="fields.student" placeholder="Student" />
    <input type="text" ng-model="fields.lesson_title" placeholder="Lesson Title" />
    <input type="text" ng-model="fields.score" placeholder="Grade" />
    <button ng-click="addGrade(fields)">Add Grade</button>
  </form>
</div> -->
