<h3 class="gradebook-title">Classes</h3>
<div class="gradebook-class-name" ng-repeat="class in classes" ng-click="setActiveClass(class.class_id)">{{class.class_title}}</div>

<div id="class-assignments-container" ng-show="!!activeClass">
<h3 class="gradebook-title">Assignments</h3>
  <div class="gradebook-assignment-name" ng-repeat="(assignment_id, assignment_data) in assignments" ng-click="setActiveAssignment(assignment_id)">{{assignment_data.title}}</div>
</div>

<div id="active-assignment-grades" ng-show="!!activeAssignment">
  <h2>Grades for {{activeAssignment}}</h2>
  <table class="gradebook"> 
    <tr>
      <td class="table-header gradebook">Student</td>
      <td class="table-header gradebook">Grade</td>
    </tr>
    <div id="active-assignment-grades">
      <tr ng-repeat="grade in activeAssignmentGrades">
        <td class="name-column gradebook">{{grade.student_name}}</td>
        <td class="grade-column gradebook"><input class="grade-input" ng-model="grade.grade" ng-keyup="updateGrade(grade.student_id, grade.assignment_id, grade.grade)" type="text" value="{{grade.grade}}"/></td>
      </tr>
    </div>
  </table>
</div>
	