<h1>Classes</h1>
<ul>
  <li ng-repeat="class in classes" ng-click="setActiveClass(class.class_id)">{{class.class_title}}</li>
</ul>

<h1>Assignments</h1>
<ul>
  <li ng-repeat="(assignment_id, assignment_data) in assignments" ng-click="setActiveAssignment(assignment_id)">{{assignment_data.title}}</li>
</ul>


<table>
  <th>Grades for {{activeAssignment}}</th>
  <tr>
    <td>Student</td>
    <td>Grade</td>
  </tr>
  <div id="active-assignment-grades">
    <tr ng-repeat="grade in activeAssignmentGrades">
      <td>{{grade.student_name}}</td>
      <td><input ng-model="grade.grade" ng-keyup="updateGrade(grade.student_id, grade.assignment_id, grade.grade)" type="text" value="{{grade.grade}}"/></td>
    </tr>
  </div>
</table>
	