<div id="wrapper" class="">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">Syllabus</a>
          </li>
          <li ng-repeat="lesson in lessons">
            <a href="#lesson{{lesson.id}}" target="_self">Lesson {{lesson.id}}</a>
          </li>
      </ul>
  </div>

  
  <!-- Text Editor -->
  <div ng-controller="textController" class="container app">
    <h3>Editor</h3>
    <button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>
    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
    <h3>Raw HTML in a text area</h3>
    <textarea ng-model="htmlcontent" style="width: 100%"></textarea>
    <button type="button" ng-click="htmlcontent = orightml">Reset</button>
  </div>



  <!-- Main Content -->

  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12" ng-repeat="lesson in lessons">
                <div id="lesson{{lesson.id}}" class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#" ng-click="isCollapsed = !isCollapsed">
                        Lesson {{lesson.id}}
                      </a>
                    </h4>
                    <h5>
                      <p>
                        Description: {{lesson.description}}
                      </p>
                    </h5>
                  <div ng-show="isCollapsed">
                    <div class="panel-body">
                      {{lesson.content}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
