<div id="wrapper" class="">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">Syllabus</a>
          </li>
          <li ng-repeat="lesson in lessons">
            <a href="#lesson{{lesson.id}}" target="_self">{{lesson.title}}</a>
          </li>
      </ul>
  </div>
  
  <!-- Text Editor -->

    <div ng-show="isTeacher()" ng-controller="textController" class="container app">

    <div class="container-fluid">
      <h3>Editor</h3>
        
          <input style="width:300px"type="text" ng-model="fields.title" placeholder="Lesson Title" />
          <p></p>
          <input style="width:1000px" type="text" ng-model="fields.description" placeholder="Description" />
          <div text-angular="text-angular" ng-model="fields.content"></div>
          <button type="button" ng-click="addLesson(fields)">Add Lesson</button>
        
    </div>

  <!-- Main Content -->

      <div class="container-fluid">
              <div ng-repeat="lesson in lessons">
                <div id="lesson{{lesson.id}}" class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#" ng-click="isCollapsed = !isCollapsed">
                        {{lesson.title}}
                      </a>
                    </h4>
                    <h5>
                      <p>
                        Description: {{lesson.description}}
                      </p>
                    </h5>
                  <div ng-show="isCollapsed">
                    <div class="panel-body">
                      <p innerHTML="{{lesson.content}}">{{lesson.content}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     
    </div>

