<form name="form" class="form-signin" ng-submit="submit(email, password)" style="opacity:.93;">
<h2 class="form-signin-heading">sign in now</h2>
<div class="login-wrap">

    <div class="panel panel-warning" ng-hide="form.$pristine || !formValidation()" >
      <div class="panel-heading">
        <p class="panel-title" style="color: red;">{{formValidation()}}</p>
      </div>
    </div>


      <input type="email" class="form-control input-lg" placeholder="Enter email address..." ng-model="email" autofocus>
      <input type="password" class="form-control input-lg" placeholder="Enter password..." ng-model="password">
    

      <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
          <span class="pull-right">
              <a data-toggle="modal" href="#myModal"> Forgot Password?</a>
          </span>
      </label>

    <button ng-disabled="formValidation()" class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>

    <div class="registration">
        Don't have an account yet?
        <a class="" href="registration.html">
            Create an account
        </a>
    </div>
  </div>
</form>
